{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/home.jpeg" "title" "marty samples" "subtitle" "On a street where I live.") }}

{{ partial "short-text" (dict "heading" "Why Kaldi?" "text" "Kaldi is the coffee store for everyone who believes that great coffee shouldn't just taste good, it should do good too. We source all of our beans directly from small scale sustainable farmers and make sure part of the profits are reinvested in their communities.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Kaldi is the ultimate spot for coffee lovers who want to learn about their java’s origin and support the farmers that grew it. We take coffee production, roasting and brewing seriously and we’re glad to pass that knowledge to anyone." "svg1" "img/illustrations/coffee.svg" "text1" "We sell green and roasted coffee beans that are sourced directly from independent farmers and farm cooperatives. We’re proud to offer a variety of coffee beans grown with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "About Marty" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/values") }}


<script>
  window.fcWidget.init({
    token: "8d3a4a04-5562-4f59-8f66-f84a269897a1",
    host: "https://wchat.freshchat.com",
    config: {
      disableEvents: true,
      cssNames: {
        widget: 'fc_frame',
        open: 'fc_open',
        expanded: 'fc_expanded'
      },
      showFAQOnOpen: true,
      hideFAQ: true,
      agent: {
        hideName: false,
        hidePic: false,
        hideBio: false,
      },
      headerProperty: {
	      //If you have multiple sites you can use the appName and appLogo to overwrite the values.
      	appName: 'Gadget God',
        appLogo: 'https://d1qb2nb5cznatu.cloudfront.net/startups/i/2473-2c38490d8e4c91660d86ff54ba5391ea-medium_jpg.jpg?buster=1518574527',
        backgroundColor: '#FFFF00',
        foregroundColor: '#333333',
        backgroundImage: 'https://wchat.freshchat.com/assets/images/texture_background_1-bdc7191884a15871ed640bcb0635e7e7.png'
      },
      content: {
        placeholders: {
          search_field: 'Search',
          reply_field: 'Reply',
          csat_reply: 'Add your comments here'
        },
        actions: {
          csat_yes: 'Yes',
          csat_no: 'No',
          push_notify_yes: 'Yes',
          push_notify_no: 'No',
          tab_faq: 'Solutions',
          tab_chat: 'Chat',
          csat_submit: 'Submit'
        },
        headers: {
          chat: 'CHat',
          chat_help: 'Reach out to us if you have any questions',
          faq: 'Solution Articles',
          faq_help: 'Browse our articles',
          faq_not_available: 'No Articles Found',
          faq_search_not_available: 'No articles were found for {{query}}',
          faq_useful: 'Was this article helpful?',
          faq_thankyou: 'Thank you for your feedback',
          faq_message_us: 'Message Us',
          push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
          csat_question: 'Did we address your concerns??',
          csat_yes_question: 'How would you rate this interaction?',
          csat_no_question: 'How could we have helped better?',
          csat_thankyou: 'Thanks for the response',
          csat_rate_here: 'Submit your rating here',
          channel_response: {
            offline: 'We are currently away. Please leave us a message',
            online: {
              minutes: {
                one: "Currently replying in {!time!} minutes ",
                more: "Typically replies in {!time!} minutes"
              },
              hours: {
                one: "Currently replying in under an hour",
                more: "Typically replies in {!time!} hours",
              }
            }
          }
        }
      }
    }
  });
</script>

{{ partial "blog" . }}

{{ partial "footer" . }}
